/* pc */
@media all and (min-width: 1025px) {
  .desktop{
    width: 767px;
    height: 600px;
    margin: 0 auto;
  }
  .smop{
    width: 400px;
    height: 600px;
    margin: 0 auto;
  }
  .desktop-frame{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    flex-direction: row; /* 세로로 일렬로 정렬 */
  }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .tablet{
    width: 767px;
    height: 600px;
    margin: 0 auto; /* 화면 가운데 정렬 */
  }
}

/* phone */
@media all and (max-width: 767px) {
  .mobile{
    height: 100%;
    width: 100%;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
